<div ng-controller="EditPersonsCtrl">
	<form role="form" name="personForm">
		<div class="form-group">
			<label for="first_name">First Name</label>
			<input required type="text" name="first_name" id="first_name" ng-model="person.FirstName" />
		</div>

		<div class="form-group">
			<label for="last_name">First Name</label>
			<input required type="text" name="last_name" id="last_name" ng-model="person.LastName" />
		</div>

		<div class="form-group">
			<button role="button" class="btn btn-primary" ng-click="savePerson(person)">Update</button>
		</div>
	</form>
</div>